* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.threeimg img {
    width: 370px;
}

.topfooterdivan img {
    width: 270px;
}